#site-name{
  margin-left: 147px;
  font-size: 24px;
  color: white;
}

.example-link {
    padding: 0 14px;
  }
  .example-spacer {
    flex: 1 1 auto;
  }
  
  .navbar-nav{
    color: white;
  }
  nav{
   margin-bottom: 40px;
   border-radius: 2px;

a:hover{
    color: rgb(58, 158, 189);  
  }
  
}
#nav-bar{
  ul{
    margin-left: 129px;
    }
}