<div id="wid-gets">
    <button type="button" (click)="toggleActive()"><i class="material-icons">view_list</i></button>
    <button type="button" (click)="toggleAction()"><i class="material-icons">view_module</i></button>
    <button type="button"><i class="material-icons">book</i></button>
    <span style="border: black;">{{counter}}</span>
</div>
<div class="container" fxLayout="wrap row" fxLayout.xs="column" fxLayoutGap="1%" fxLayoutAlign="center">
      <div *ngFor="let post of news.articles let i = index" fxFlex="30%">
        <mat-card  [class.singleNews]="singleNews" [class.listView]="listView" *ngIf="i<6">
           <button id="book-mark" (click)="addBookMark()" type="button"><i class="material-icons">bookmark_border</i></button>
      <a href="./posts"><img mat-card-image src="{{post.urlToImage}}" onError="this.src='/assets/blank.png';">
      </a>
        <div class="cardbody">
        <mat-card-title>{{post.title}}</mat-card-title>
        <mat-card-content>
          <p>{{post.description}}</p>
        </mat-card-content>
      </div>
      <mat-card-actions align="end">
        <a href="{{post.url}}" target="_balnk" mat-raised-button color="accent">Read More</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<div class="container" style="margin-left: 150px">
  <div class = "row">
  <div class="col-6">
    <div id="morenews">More News</div>
    <div *ngFor="let post of news.articles let i = index" >
       <div class="teasers" *ngIf="i<4">
          <i class="material-icons">account_balance</i> 
          <a href="{{post.url}}"><mat-card-title style="font-size: 14px">{{post.title}}</mat-card-title></a>
        </div>
      </div>
  </div>
  <div class="col-6">
      <div id="morenews">Top News</div>
      <div *ngFor="let post of news.articles let i = index">
          <div class="teasers" *ngIf="i<4"> 
              <i class="material-icons">account_balance</i> 
              <a href="{{post.url}}"><mat-card-title style="font-size: 14px">{{post.title}}</mat-card-title></a>
            </div>
          </div>
        </div>
        <div class="col">
            <div id='top-images'>Top Images</div> 
            <div class="container" fxLayout="wrap row" fxLayout.xs="column" fxLayoutGap="1%" fxLayoutAlign="center">
              <div *ngFor="let post of news.articles let i = index" fxFlex="30%">
                  <mat-card class=singleNews *ngIf="i<6">
                     <a href="{{post.url}}"><img mat-card-image src="{{post.urlToImage}}" onError="this.src='/assets/blank.png';"></a>
                  </mat-card>
            </div>
          </div>
      </div>       
  </div>

          
